@import "assets/css/custom.scss";

.protocalWrapper {
  width: 100%;
  min-height: 100%;
  background: #0DC7E5;
  padding: 20px;
  display: flex;
}

.protocalBox {

  background: #FFFFFF;
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.10);
  border-radius: 10px;
  width: 710px;
  padding-bottom: 20px;
  h4 {
    font-family: PingFangSC-Medium;
    font-size: 34px;
    color: #333333;
    text-align: center;
    height: 118px;
    line-height: 118px;
  }
  p{
    @extend %font-30px-Regular;
    color: #333333;
    margin: 0 30px 30px 30px;
    line-height: 48px;
  }
}